adf-ats/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-ats"
		},
		"LS_ADLSg2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLSg2'"
		},
		"LS_AzureDatabricks1_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'LS_AzureDatabricks1'"
		},
		"LS_Dbfs_bifurcate_SubSmry_filesource_name_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'LS_Dbfs_bifurcate_SubSmry_filesource_name'"
		},
		"LS_adlsg2edls_excel_Ques_Data_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_adlsg2edls_excel_Ques_Data'"
		},
		"LS_dbfs2_bifurcate_stu_sourcefilepath_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'LS_dbfs2_bifurcate_stu_sourcefilepath'"
		},
		"ls_Src_AzureSQLDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_Src_AzureSQLDB'"
		},
		"ls_adlsg2edls_excel_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_adlsg2edls_excel'"
		},
		"ls_adlsg2edls_excel_StuSubmission_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_adlsg2edls_excel_StuSubmission'"
		},
		"ls_adlsg2edls_excel_SubSmry_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_adlsg2edls_excel_SubSmry'"
		},
		"sink_AzureSqlDb_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'sink_AzureSqlDb'"
		},
		"LS_ADLSg2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsg2edls.dfs.core.windows.net/"
		},
		"LS_AzureDatabricks1_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1212-065554-24xhgg4x"
		},
		"LS_Dbfs_bifurcate_SubSmry_filesource_name_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1212-065554-24xhgg4x"
		},
		"LS_adlsg2edls_excel_Ques_Data_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsg2edls.dfs.core.windows.net/"
		},
		"LS_dbfs2_bifurcate_stu_sourcefilepath_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1212-065554-24xhgg4x"
		},
		"ls_adlsg2edls_excel_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsg2edls.dfs.core.windows.net/"
		},
		"ls_adlsg2edls_excel_StuSubmission_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsg2edls.dfs.core.windows.net/"
		},
		"ls_adlsg2edls_excel_SubSmry_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsg2edls.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLSg2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLSg2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLSg2_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureDatabricks1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-8088961883452051.11.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('LS_AzureDatabricks1_accessToken')]"
					},
					"existingClusterId": "[parameters('LS_AzureDatabricks1_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Dbfs_bifurcate_SubSmry_filesource_name')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-8088961883452051.11.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('LS_Dbfs_bifurcate_SubSmry_filesource_name_accessToken')]"
					},
					"existingClusterId": "[parameters('LS_Dbfs_bifurcate_SubSmry_filesource_name_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_adlsg2edls_excel_Ques_Data')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_adlsg2edls_excel_Ques_Data_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_adlsg2edls_excel_Ques_Data_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_dbfs2_bifurcate_stu_sourcefilepath')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-8088961883452051.11.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('LS_dbfs2_bifurcate_stu_sourcefilepath_accessToken')]"
					},
					"existingClusterId": "[parameters('LS_dbfs2_bifurcate_stu_sourcefilepath_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_Src_AzureSQLDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ls_Src_AzureSQLDB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adlsg2edls_excel')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adlsg2edls_excel_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_adlsg2edls_excel_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adlsg2edls_excel_StuSubmission')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adlsg2edls_excel_StuSubmission_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_adlsg2edls_excel_StuSubmission_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adlsg2edls_excel_SubSmry')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adlsg2edls_excel_SubSmry_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_adlsg2edls_excel_SubSmry_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sink_AzureSqlDb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('sink_AzureSqlDb_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pplATS_Load_Excel_SQLDB_Orig')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/hemant@insightanalytics.us/Storage Account Loop All Folders and Files"
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set var output of dbfs",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Notebook1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varFile_names",
							"value": {
								"value": "@activity('Notebook1').output.runoutput",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set var output of dbfs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('varFile_names')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "chk",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"varFile_names": {
						"type": "Array"
					},
					"chk": {
						"type": "String"
					},
					"varOtherthanStudent": {
						"type": "String"
					},
					"var_if_OtherThanStudentfilename": {
						"type": "String"
					},
					"varStudent_filename": {
						"type": "String"
					},
					"varOtherthanStudentfilename": {
						"type": "String"
					},
					"varForEachDbfsItem": {
						"type": "String"
					}
				},
				"folder": {
					"name": "myPipelines/myPipelines_bkup"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureDatabricks1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqldb_Student_Info')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sink_AzureSqlDb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Ending_Date",
						"type": "nvarchar"
					},
					{
						"name": "Schoology_ID",
						"type": "nvarchar"
					},
					{
						"name": "First_Name",
						"type": "nvarchar"
					},
					{
						"name": "Last_Name",
						"type": "nvarchar"
					},
					{
						"name": "Full_Name",
						"type": "nvarchar"
					},
					{
						"name": "Student_ID_Numnber",
						"type": "nvarchar"
					},
					{
						"name": "Grade",
						"type": "nvarchar"
					},
					{
						"name": "Teacher",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "nvarchar"
					},
					{
						"name": "_2019_Absences",
						"type": "nvarchar"
					},
					{
						"name": "_2020_Absences",
						"type": "nvarchar"
					},
					{
						"name": "ESE",
						"type": "nvarchar"
					},
					{
						"name": "Free_Reduced_Lunch",
						"type": "nvarchar"
					},
					{
						"name": "Race",
						"type": "nvarchar"
					},
					{
						"name": "File_Source",
						"type": "nvarchar"
					},
					{
						"name": "time_stamp",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "TIMESTAMP",
						"type": "timestamp"
					}
				],
				"typeProperties": {
					"schema": "AAOTA",
					"table": "Student_Info_Staging"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sink_AzureSqlDb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Src_AzureSqlTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_Src_AzureSQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "AAOTA",
					"table": "Submission_Summary_temp"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_Src_AzureSQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_Excel_Ques_Data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_adlsg2edls_excel_Ques_Data",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"dspara_Ques_Data_filepath": {
						"type": "string",
						"defaultValue": "abc"
					},
					"dspara_Ques_Data_filename": {
						"type": "string",
						"defaultValue": "abc"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().dspara_Ques_Data_filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().dspara_Ques_Data_filepath",
							"type": "Expression"
						},
						"fileSystem": "edls-input"
					},
					"range": "",
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_adlsg2edls_excel_Ques_Data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_Excel_Student_Submission')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adlsg2edls_excel_StuSubmission",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"dspara_stuSub_filepath": {
						"type": "string"
					},
					"dspara_stuSub_filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().dspara_stuSub_filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().dspara_stuSub_filepath",
							"type": "Expression"
						},
						"fileSystem": "edls-input"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adlsg2edls_excel_StuSubmission')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_Excel_Student_info')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adlsg2edls_excel",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"dspara_stuinfo_filepath": {
						"type": "string"
					},
					"dspara_stuinfo_filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().dspara_stuinfo_filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().dspara_stuinfo_filepath",
							"type": "Expression"
						},
						"fileSystem": "edls-input"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Ending_Date",
						"type": "String"
					},
					{
						"name": "Schoology_ID",
						"type": "String"
					},
					{
						"name": "First_Name",
						"type": "String"
					},
					{
						"name": "Last_Name",
						"type": "String"
					},
					{
						"name": "Full_Name",
						"type": "String"
					},
					{
						"name": "Student_ID_Numnber",
						"type": "String"
					},
					{
						"name": "Grade",
						"type": "String"
					},
					{
						"name": "Teacher",
						"type": "String"
					},
					{
						"name": "Status",
						"type": "String"
					},
					{
						"name": "_2019_Absences",
						"type": "String"
					},
					{
						"name": "_2020_Absences",
						"type": "String"
					},
					{
						"name": "ESE",
						"type": "String"
					},
					{
						"name": "Free_Reduced_Lunch",
						"type": "String"
					},
					{
						"name": "Race",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adlsg2edls_excel')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_Excel_SubSmry')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adlsg2edls_excel_SubSmry",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"dspara_SubSmry_filename": {
						"type": "string"
					},
					"dspara_SubSmry_filepath": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().dspara_SubSmry_filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().dspara_SubSmry_filepath",
							"type": "Expression"
						},
						"fileSystem": "edls-input"
					},
					"range": "",
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Schoology_ID",
						"type": "String"
					},
					{
						"name": "First_Name",
						"type": "String"
					},
					{
						"name": "Last_Name",
						"type": "String"
					},
					{
						"name": "Unique_ID",
						"type": "String"
					},
					{
						"name": "Job_Title",
						"type": "String"
					},
					{
						"name": "Gradebook_Grade",
						"type": "String"
					},
					{
						"name": "Submission_",
						"type": "String"
					},
					{
						"name": "Submission_Score",
						"type": "String"
					},
					{
						"name": "Question_1",
						"type": "String"
					},
					{
						"name": "Question_2",
						"type": "String"
					},
					{
						"name": "Question_3",
						"type": "String"
					},
					{
						"name": "Question_4",
						"type": "String"
					},
					{
						"name": "Question_5",
						"type": "String"
					},
					{
						"name": "Question_6",
						"type": "String"
					},
					{
						"name": "Question_7",
						"type": "String"
					},
					{
						"name": "Question_8",
						"type": "String"
					},
					{
						"name": "Question_9",
						"type": "String"
					},
					{
						"name": "Question_10",
						"type": "String"
					},
					{
						"name": "Question_11",
						"type": "String"
					},
					{
						"name": "Question_12",
						"type": "String"
					},
					{
						"name": "Question_13",
						"type": "String"
					},
					{
						"name": "Question_14",
						"type": "String"
					},
					{
						"name": "Question_15",
						"type": "String"
					},
					{
						"name": "Question_16",
						"type": "String"
					},
					{
						"name": "Question_17",
						"type": "String"
					},
					{
						"name": "Question_18",
						"type": "String"
					},
					{
						"name": "Question_19",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adlsg2edls_excel_SubSmry')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sink_AzureSqlDb_StuSubmission')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sink_AzureSqlDb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "User_UID",
						"type": "nvarchar"
					},
					{
						"name": "Username",
						"type": "nvarchar"
					},
					{
						"name": "Last_Name",
						"type": "nvarchar"
					},
					{
						"name": "First_Name",
						"type": "nvarchar"
					},
					{
						"name": "User_Role_ID",
						"type": "nvarchar"
					},
					{
						"name": "User_role_name",
						"type": "nvarchar"
					},
					{
						"name": "User_School_ID",
						"type": "nvarchar"
					},
					{
						"name": "User_School_Name",
						"type": "nvarchar"
					},
					{
						"name": "Course_NID",
						"type": "nvarchar"
					},
					{
						"name": "Course_Name",
						"type": "nvarchar"
					},
					{
						"name": "Course_code",
						"type": "nvarchar"
					},
					{
						"name": "Section_NID",
						"type": "nvarchar"
					},
					{
						"name": "Section_Name",
						"type": "nvarchar"
					},
					{
						"name": "Section_Code",
						"type": "nvarchar"
					},
					{
						"name": "Section_Instructors",
						"type": "nvarchar"
					},
					{
						"name": "Item_Type",
						"type": "nvarchar"
					},
					{
						"name": "Item_ID",
						"type": "nvarchar"
					},
					{
						"name": "Item_Name",
						"type": "nvarchar"
					},
					{
						"name": "First_Access",
						"type": "nvarchar"
					},
					{
						"name": "Latest_Attempt",
						"type": "nvarchar"
					},
					{
						"name": "Total_Time",
						"type": "nvarchar"
					},
					{
						"name": "Submission_Grade",
						"type": "nvarchar"
					},
					{
						"name": "Submission",
						"type": "nvarchar"
					},
					{
						"name": "Question_ID",
						"type": "nvarchar"
					},
					{
						"name": "Associated_Question_ID",
						"type": "nvarchar"
					},
					{
						"name": "Question_Type",
						"type": "nvarchar"
					},
					{
						"name": "Question",
						"type": "nvarchar"
					},
					{
						"name": "Position_Number",
						"type": "nvarchar"
					},
					{
						"name": "Sub_Question",
						"type": "nvarchar"
					},
					{
						"name": "Answer_Submission",
						"type": "nvarchar"
					},
					{
						"name": "Correct_Answer",
						"type": "nvarchar"
					},
					{
						"name": "Points_Received",
						"type": "nvarchar"
					},
					{
						"name": "Points_Possible",
						"type": "nvarchar"
					},
					{
						"name": "File_Source",
						"type": "nvarchar"
					},
					{
						"name": "time_stamp",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "TIMESTAMP",
						"type": "timestamp"
					}
				],
				"typeProperties": {
					"schema": "AAOTA",
					"table": "Student_Submissions_Staging"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sink_AzureSqlDb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sink_ds_AzureSqlDb_Ques_Data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sink_AzureSqlDb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "AAOTA",
					"table": "temp_Questions_Data"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sink_AzureSqlDb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sink_ds_AzureSqlDb_SubSmry')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sink_AzureSqlDb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "AAOTA",
					"table": "temp_Submission_Summary"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sink_AzureSqlDb')]"
			]
		}
	]
}