pipeline/Ath_Schoology.json
{
	"name": "Ath_Schoology",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_ath_adls_input_csv",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "x",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Switch1",
							"type": "Switch",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Set variable3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@split(item().name,'-')[0]",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Question",
										"activities": [
											{
												"name": "Copy data1",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Item ID",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Item_ID",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "Item Name",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Item_Name",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Question ID",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Question_ID",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "Associated Question ID",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Associated_Question_ID",
																	"type": "Int64",
																	"physicalType": "bigint"
																}
															},
															{
																"source": {
																	"name": "Total Points",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Total_Points",
																	"type": "Double",
																	"physicalType": "float"
																}
															},
															{
																"source": {
																	"name": "Question Type",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Question_Type",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Question",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Question",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Position Number",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Position_Number",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Sub-Question",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Sub_Question",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Answer Option",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Answer_Option",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Answer Breakdown1",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Answer_Breakdown1",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Answer Breakdown2",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Answer_Breakdown2",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Correct Answer",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Correct_Answer",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Correctly Answered",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Correctly_Answered",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Most Points Earned",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Most_Points_Earned",
																	"type": "Double",
																	"physicalType": "float"
																}
															},
															{
																"source": {
																	"name": "Least Points Earned",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Least_Points_Earned",
																	"type": "Double",
																	"physicalType": "float"
																}
															},
															{
																"source": {
																	"name": "Average Points Earned",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Average_Points_Earned",
																	"type": "Double",
																	"physicalType": "float"
																}
															},
															{
																"source": {
																	"name": "Standards",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Standards",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_ath_adls_input_csv",
														"type": "DatasetReference",
														"parameters": {
															"ath_adls2_input_filename": {
																"value": "@variables('x')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_Ath_sink_SQLDB",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "Student",
										"activities": [
											{
												"name": "SetSubmission",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "varSubmission",
													"value": "Submission"
												}
											}
										]
									},
									{
										"value": "Submission",
										"activities": [
											{
												"name": "Set var summary",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "varSummary",
													"value": "Summary"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"x": {
				"type": "String"
			},
			"y": {
				"type": "String"
			},
			"a": {
				"type": "String"
			},
			"varSubmission": {
				"type": "String"
			},
			"varSummary": {
				"type": "String"
			}
		},
		"annotations": []
	}
}