pipeline/ppl_ChildItems_ADLSg2_School.json
{
	"name": "ppl_ChildItems_ADLSg2_School",
	"properties": {
		"activities": [
			{
				"name": "File Info",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_Child_FileInfo",
						"type": "DatasetReference",
						"parameters": {
							"ChildFolder": {
								"value": "@pipeline().parameters.Para_ParentFolder",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1_FileInfo_Child",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "File Info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('File Info').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "filename",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Para_ParentFolder": {
				"type": "string"
			}
		},
		"variables": {
			"filename": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}