pipeline/ppl_foreach_append variable.json
{
	"name": "ppl_foreach_append variable",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.paraCountryNames",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "countrynames",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "countrynames2",
					"value": {
						"value": "@variables('countrynames')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"paraCountryNames": {
				"type": "array",
				"defaultValue": [
					"India",
					"US",
					"UK"
				]
			}
		},
		"variables": {
			"countrynames": {
				"type": "Array"
			},
			"countrynames2": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}