pipeline/pplATS_Load_Excel_SQLDB_working copy.json
{
	"name": "pplATS_Load_Excel_SQLDB_working copy",
	"properties": {
		"activities": [
			{
				"name": "Notebook - Storage Account Loop All Folders and Files",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/hemant@insightanalytics.us/Storage Account Loop All Folders and Files"
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ActSetVarDBFSoutput",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Notebook - Storage Account Loop All Folders and Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varFile_names",
					"value": {
						"value": "@activity('Notebook - Storage Account Loop All Folders and Files').output.runOutput",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_dbs_item",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ActSetVarDBFSoutput",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('varFile_names')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition Student Information",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "SetvarfromActForEach",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(variables('varForEachDbfsItem'),'Student Information')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "ActSetVarStudent Information filename",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "varStudent_Information filename",
											"value": {
												"value": "@variables('varForEachDbfsItem')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Copy Student Info data",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "setvar_pick_bifurcation_path",
												"dependencyConditions": [
													"Succeeded"
												]
											},
											{
												"activity": "setvar_pick_bifurcation_filename",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ExcelSource",
												"additionalColumns": [
													{
														"name": "ds_filepath",
														"value": {
															"value": "@variables('varStudent_Information filename')",
															"type": "Expression"
														}
													},
													{
														"name": "ds_loadtime",
														"value": {
															"value": "@utcnow()",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": false,
													"enablePartitionDiscovery": false
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "Ending_Date",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Ending_Date",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "Schoology_ID",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Schoology_ID",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "First_Name",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "First_Name",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "Last_Name",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Last_Name",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "Full_Name",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Full_Name",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "Student_ID_Numnber",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Student_ID_Numnber",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "Grade",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Grade",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "Teacher",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Teacher",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "Status",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Status",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "_2019_Absences",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "_2019_Absences",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "_2020_Absences",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "_2020_Absences",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "ESE",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "ESE",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "Free_Reduced_Lunch",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Free_Reduced_Lunch",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "Race",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Race",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "ds_filepath",
															"type": "String"
														},
														"sink": {
															"name": "File_Source",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "ds_loadtime",
															"type": "String"
														},
														"sink": {
															"name": "time_stamp",
															"type": "DateTime",
															"physicalType": "datetime2"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_source_Excel",
												"type": "DatasetReference",
												"parameters": {
													"dspara_stuinfo_filepath": {
														"value": "@variables('var_pick_bifurcation_path')",
														"type": "Expression"
													},
													"dspara_stuinfo_filename": {
														"value": "@variables('var_pick_bifurcation_filename')",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "AzureSqldb_Student_Info",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Notebook - bifurcate student filepath",
										"type": "DatabricksNotebook",
										"dependsOn": [
											{
												"activity": "ActSetVarStudent Information filename",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"notebookPath": "/Users/hemant@insightanalytics.us/Ats_Edls/Notebook_bifurcate_file_sourcename",
											"baseParameters": {
												"para_dbfs_activity_stu_filename": {
													"value": "@variables('varStudent_Information filename')",
													"type": "Expression"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_dbfs2_bifurcate_stu_sourcefilepath",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "setvar_chk_birfurcation",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Notebook - bifurcate student filepath",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "var_chk_bifurcation",
											"value": {
												"value": "@activity('Notebook - bifurcate student filepath').output.runOutput",
												"type": "Expression"
											}
										}
									},
									{
										"name": "setvar_pick_bifurcation_path",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "setvar_chk_birfurcation",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "var_pick_bifurcation_path",
											"value": {
												"value": "@variables('var_chk_bifurcation')[0]",
												"type": "Expression"
											}
										}
									},
									{
										"name": "setvar_pick_bifurcation_filename",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "setvar_chk_birfurcation",
												"dependencyConditions": [
													"Completed"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "var_pick_bifurcation_filename",
											"value": {
												"value": "@variables('var_chk_bifurcation')[1]",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "SetvarfromActForEach",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varForEachDbfsItem",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition to load SubmissionSummary file",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "SetvarfromActForEach",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(variables('varForEachDbfsItem'),'Submission-Summary')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "ActSetVarSubmissionSummary_filename",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "var_SubmissionSummary_filename",
											"value": {
												"value": "@variables('varForEachDbfsItem')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Copy data_ Student Summary",
										"type": "Copy",
										"state": "Inactive",
										"onInactiveMarkAs": "Succeeded",
										"dependsOn": [
											{
												"activity": "ActSetVarSubmissionSummary_filename",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"enableStaging": false
										}
									}
								]
							}
						},
						{
							"name": "If Condition to load file Student Submission",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "SetvarfromActForEach",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(variables('varForEachDbfsItem'),'Student-Submissions')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "ActSetVarStudentSubmission",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "var_SubmissionSubmission_filename",
											"value": {
												"value": "@variables('varForEachDbfsItem')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Copy data_ Student Submission",
										"type": "Copy",
										"state": "Inactive",
										"onInactiveMarkAs": "Succeeded",
										"dependsOn": [
											{
												"activity": "ActSetVarStudentSubmission",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"enableStaging": false
										}
									}
								]
							}
						},
						{
							"name": "If Condition to load Questions data",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "SetvarfromActForEach",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(variables('varForEachDbfsItem'),'Question-Data')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "ActSetVarQuestionsdata_file",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "var_Questionsdata_filename",
											"value": {
												"value": "@variables('varForEachDbfsItem')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Copy data - Question Data",
										"type": "Copy",
										"state": "Inactive",
										"onInactiveMarkAs": "Succeeded",
										"dependsOn": [
											{
												"activity": "ActSetVarQuestionsdata_file",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"enableStaging": false
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"varFile_names": {
				"type": "Array"
			},
			"varStudent_filename": {
				"type": "String"
			},
			"varOtherthanStudentfilename": {
				"type": "String"
			},
			"varForEachDbfsItem": {
				"type": "String"
			},
			"varQuesdataFilename": {
				"type": "String"
			},
			"varOtherthanQuesfilename": {
				"type": "String"
			},
			"VarStudentSummaryFilename": {
				"type": "String"
			},
			"var_SubmissionSummary_filename": {
				"type": "String"
			},
			"var_SubmissionSubmission_filename": {
				"type": "String"
			},
			"var_Questionsdata_filename": {
				"type": "String"
			},
			"varStudent_Information filename": {
				"type": "String"
			},
			"var_filepath": {
				"type": "String"
			},
			"var_filename": {
				"type": "String"
			},
			"var_chk_bifurcation": {
				"type": "Array"
			},
			"chk": {
				"type": "String"
			},
			"var_pick_bifurcation_path": {
				"type": "String"
			},
			"var_pick_bifurcation_filename": {
				"type": "String"
			}
		},
		"folder": {
			"name": "myPipelines/Working"
		},
		"annotations": []
	}
}