pipeline/pplATS_Load_Excel_SQLDB_copy1.json
{
	"name": "pplATS_Load_Excel_SQLDB_copy1",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/hemant@insightanalytics.us/Storage Account Loop All Folders and Files"
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ActSetVarDBFSoutput",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varFile_names",
					"value": {
						"value": "@activity('Notebook1').output.runOutput",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ActForEach1_dbs_item",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ActSetVarDBFSoutput",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('varFile_names')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition to sep Stud Info Asmt files",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "ActSetvarfromActForEach",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(variables('varForEachDbfsItem'),'Student Information')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "ActSet_var_otherthan_student",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "varOtherthanStudentfilename",
											"value": {
												"value": "@variables('varForEachDbfsItem')",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "ActSetVarStudent filename",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "varStudent_filename",
											"value": {
												"value": "@variables('varForEachDbfsItem')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "ActSetVarStudent filename",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"enableStaging": false
										}
									}
								]
							}
						},
						{
							"name": "ActSetvarfromActForEach",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varForEachDbfsItem",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"varFile_names": {
				"type": "Array"
			},
			"varStudent_filename": {
				"type": "String"
			},
			"varOtherthanStudentfilename": {
				"type": "String"
			},
			"varForEachDbfsItem": {
				"type": "String"
			},
			"varQuesdataFilename": {
				"type": "String"
			},
			"varOtherthanQuesfilename": {
				"type": "String"
			},
			"VarStudentSummaryFilename": {
				"type": "String"
			},
			"var_SubmissionSummary_filename": {
				"type": "String"
			},
			"var_SubmissionSubmission_filename": {
				"type": "String"
			},
			"var_Questionsdata_filename": {
				"type": "String"
			}
		},
		"folder": {
			"name": "tmp/myPipelines/Working"
		},
		"annotations": []
	}
}