pipeline/pplATS_01_Load_Excel_SQLDB.json
{
	"name": "pplATS_01_Load_Excel_SQLDB",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/hemant@insightanalytics.us/Storage Account Loop All Folders and Files"
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "File_names",
					"value": {
						"value": "@activity('Notebook1').output.runOutput",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_foreach",
					"value": {
						"value": "@variables('File_names')[0]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('File_names')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "sum",
								"value": {
									"value": "@concat(item())",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"File_names": {
				"type": "Array"
			},
			"chk": {
				"type": "String"
			},
			"sum": {
				"type": "String"
			}
		},
		"folder": {
			"name": "tmp/myPipelines/Expmt"
		},
		"annotations": []
	}
}